body {
  font-family: Arial;
  text-align: center;
  background: #ffe6a7;
}

input {
  padding: 8px;
  width: 400px;
}

button {
  padding: 8px;
}

li {
  list-style: none;
  background: #99582a;
  color: white;
  margin: 5px auto;
  padding: 8px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}


#actionButtons {
    display: flex;
    justify-content: end;
    width: 40%;
}